<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.mybatis.mapper.SysUserMapper">

    <select id="findAll" resultType="com.lin.mybatis.entity.SysUser">
        SELECT *
        FROM sys_user
        limit 10
    </select>

    <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="com.lin.mybatis.entity.SysUser">
        SELECT *
        FROM sys_user
        WHERE id = #{id}
    </select>

    <insert id="insertSysUser" parameterType="com.lin.mybatis.entity.SysUser" >
        INSERT INTO sys_user (`id`, `tenant_id`, `name`) VALUES (#{id}, #{tenantId}, #{name})
    </insert>

    <update id="updateUserName" parameterType="com.lin.mybatis.entity.SysUser" >
        UPDATE sys_user SET `name` = #{name} WHERE `id` = #{id}
    </update>

    <update id="deleteUserById" parameterType="com.lin.mybatis.entity.SysUser" >
        DELETE FROM sys_user WHERE `id` = #{id}
    </update>

</mapper>